/* RESET */
img{
    width: 100%;
}

input{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    display: block;
}

textarea{
    border: none;
    display: block;
}

/* HEADER */
header{
    background-color: #2C3E50;
}

/* HERO */
.my-hero{
    background-color: #1ABC9C;
}

.my-hero span::before,
.my-hero span::after{
    content: "";
    display: inline-block;
    width: 140px;
    margin-bottom: 0.3rem;
    border-bottom: 5px solid;
}

/* PORTFOLIO */

.my-portfolio span::before,
.my-portfolio span::after{
    content: "";
    display: inline-block;
    width: 140px;
    margin-bottom: 0.3rem;
    border-bottom: 5px solid;
}

/* ABOUT */
 .my-about{
    color: white;
    background-color: #1ABC9C;
 }

.my-about span::before,
.my-about span::after{
    content: "";
    display: inline-block;
    width: 140px;
    margin-bottom: 0.3rem;
    border-bottom: 5px solid;
}

/* CONTACT ME */
.my-contact_me{
    color: black;
}

.my-contact_me span::before,
.my-contact_me span::after{
    content: "";
    display: inline-block;
    width: 140px;
    margin-bottom: 0.3rem;
    border-bottom: 5px solid;
}

.my-contact_me form > *{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    font-size: 0.75rem;
}

.custom-bg-color{
    background-color: #1ABC9C;
    color: white;
}

/* FOOTER */
footer{
    background-color: #3A546D;
    text-align: center;
}

.footer_color{
    background-color: #2C3E50;
}

.castom_border{
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

footer h3{
    font-size: 1rem;
}

footer p{
    font-size: 0.75rem;
}

footer h5{
    font-size: 0.65rem;
}

footer span{
    color: #1ABC9C;
}

/* MEDIA QUERY */
@media (min-width: 768px){
    .about_content{
        column-count: 2;
    }
}




/* debug */
/* .col_debug{
    height: 100px;
    background-color: pink;
    border: 1px solid black;
}

.container_debug{
    
    background-color: hotpink;
    border: 1px solid black;
}



.col_debug1{
    height: 100px;
    background-color: rgb(157, 26, 48);
    border: 1px solid black;
}
 */
