header{
    background-color: #2C3E50;
}
/* HERO */
.my-hero{
    background-color: #1ABC9C;
}

.my-hero span::before,
.my-hero span::after{
    content: "";
    display: inline-block;
    width: 140px;
    color: white;
    margin-bottom: 0.3rem;
    border-bottom: 5px solid white;
    
}
/* debug */
.col_debug{
    height: 100px;
    background-color: pink;
    border: 1px solid black;
}

.container_debug{
    
    background-color: hotpink;
    border: 1px solid black;
}

.my-portfolio{
  background-color: chartreuse;  
}

.col_debug1{
    height: 100px;
    background-color: rgb(157, 26, 48);
    border: 1px solid black;
    
}

